<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Поиск по StackExchange</title>
</head>
<body class="container">
<h1 class="py-5">Поиск по StackExchange</h1>

<p>Произошла ошибка. Вы можете вернуться <a href="/">на главную страницу</a>.</p>
<p th:if="${url}">
  <b>Url:</b> <span th:text="${url}" />
</p>

<p th:if="${timestamp}" id='created'>
  <b>Время возникновения:</b> <span th:text="${timestamp}" />
</p>

<p th:if="${status}">
  <b>Статус ответа:</b> <span th:text="${status}" /> <span th:if="${error}" th:text="'('+${error}+')'" />
</p>

<p th:if="${exception}">
  <span th:text="'Exception: ' + ${exception.message}" />
  <ul>
    <li th:each="ste : ${exception.stackTrace}">
      <span th:utext="${ste}">${ste}</span></li>
  </ul>
</p>
</body>
</html>