<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Поиск по StackExchange</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
        rel="stylesheet">
  <style>
    .input-page-number { text-align: center; width: 50px }
  </style>
</head>
<body class="container">
<h1 class="py-5">Поиск по StackExchange</h1>
<form class="col" method="post" th:action="@{/search}" th:object="${searchParams}">

  <div class="card p-3 mb-5">
    <div class="form-group">
      <input class="form-control" id="searchString" placeholder="Введите название вопроса" required
             th:field="*{searchString}"
             type="text"/>
    </div>
    <div class="form-group">
      <select class="form-control " id="sort" required th:field="*{sort}">
        <option hidden value="">Выберите поле для сортировки</option>
        <option
                th:each="sort : ${T(com.example.searchstackexchange.consts.SortField).values()}"
                th:text="${sort}"
                th:value="${sort}">
        </option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control " id="sortOrder" required th:field="*{sortOrder}">
        <option hidden value="">Выберите порядок сортировки</option>
        <option
                th:each="sortOrder : ${T(com.example.searchstackexchange.consts.SortOrder).values()}"
                th:text="${sortOrder}"
                th:value="${sortOrder}">
        </option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" name="action" value="newSearch">Поиск</button>
  </div>
  <table class="table table-striped table-bordered mb-3">
    <tr>
      <th>Дата создания</th>
      <th>Название</th>
      <th>Автор</th>
    </tr>
    <tr th:if="${#lists.isEmpty(searchResults.items)}">
      <td colspan="3">Нет вопросов, попробуйте новый поиск.</td>
    </tr>
    <tr th:each="item : ${searchResults.items}" th:class="${item.isAnswered} ? 'table-success' : ''">
      <td class="text-nowrap" th:text="${#temporals.format(item.creationDate, 'dd-MM-yyyy HH:mm')}"></td>
      <td>
        <a th:text="${item.title}" th:href="${item.link}" />
      </td>
      <td>
        <a th:text="${item.author}" th:href="${item.authorLink}" />
      </td>
    </tr>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <button class="btn btn-link page-link" type="submit" name="action" value="prevPage" th:disabled="${searchParams.page} <= 1">Назад</button>
      </li>
      <li class="page-item">
        <input class="page-link input-page-number" type="number" min="1" name="page" th:field="*{page}" readonly>
      </li>
      <li class="page-item">
        <button class="btn btn-link page-link" type="submit" name="action" value="nextPage" th:disabled="!${searchResults.hasMore}">Далее</button>
      </li>
    </ul>
  </nav>
  <p>
    Примечание: строчки с отвеченными вопросами отображаются <span class="table-success">зеленым цветом</span>.
  </p>
</form>
</body>
</html>